#name{
    position: sticky;
    top : 
    background-color: hwb(202 41% 3%);
    border: 0px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
}
.MyIntro{
  background-color: hwb(202 41% 3%);
  border: 0px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}